* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Lucida Console;
	src: url(\lucon.ttf);
	color: white;
	list-style:none;
}

div img{
  padding: 1.5em;
  position: absolute;
  width: 8em;
}

div .cart-btn img{
  width: 6%;
  margin-top: -2%;
  position: absolute;
}

div ul {
  display: flex;
  background: black;
  padding-left: 50%;
}

div ul li{
  padding: 2em;
}

.footer{
  padding: 2%;
  background-color: black;
  width: 100%;
  height: 15%;
  bottom: 0;
  position: absolute;
}

.bajadita{
	display:grid;
	width:45%;
	float:left;
  padding-left:0;
}

.containerPagina{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerPagina h1,.containerPagina h2{
  color:rgb(0, 0, 0);
  text-align: left;
}

.containerPagina h2{
  font-size: 0.8em;
}

.containerPagina section{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap: 1em;
}

.containerPagina section > article{
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin:1em;
  height: fit-content;
}

.containerPagina section > article h2 {
  padding: 5%;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 0.1em;
}

.containerPagina section > article p {
  padding: 5%;
}

@media (max-width: 1000px) {
  *{
    background-color: black;
  }
  div{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  div ul {
    display: grid;
    padding-left: 0;
    width: 100%;
  }
  div ul li{
    display: grid;
  }
  div img{
    padding: 0;
    display: grid;
    position: relative;
    width: 15em;
    text-align: center;
  }
}

@media (max-width: 600px) {

}