* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Lucida Console;
	src: url(\lucon.ttf);
	color: white;
	list-style:none;
}

div img{
  padding: 1.5em;
  position: absolute;
  width: 8em;
}

div ul {
  display: flex;
  background: black;
  padding-left: 50%;
}

div ul li{
  padding: 2em;
}

@media (max-width: 1000px) {
  *{
    background-color: black;
  }
  div{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  div ul {
    display: grid;
    padding-left: 0;
    width: 100%;
  }
  div ul li{
    display: grid;
  }
  div img{
    padding: 0;
    display: grid;
    position: relative;
    width: 15em;
    text-align: center;
  }
}

@media (max-width: 600px) {

}